[package]
name = "linalg-traits"
version = "0.7.0"
authors = ["Tamas Kis"]
edition = "2021"
description = "Traits for generic linear algebra."
documentation = "https://docs.rs/linalg-traits"
repository = "https://github.com/tamaskis/linalg_traits"
license = "MIT OR Apache-2.0"

exclude = ["Cargo.lock", ".github/", ".vscode/", ".gitignore"]

[package.metadata.docs.rs]
rustdoc-args = [ "--html-in-header", "src/docs-header.html" ]
features = ["nalgebra", "ndarray"]

[dependencies]
num-traits = "0.2.18"
nalgebra = { version = "0.33.0", optional = true }
ndarray = { version = "0.16.0", optional = true }

[dev-dependencies]
numtest = "0.2.0"
