[package]
name = "linalg-traits"
version = "0.10.0"
authors = ["Tamas Kis"]
edition = "2021"
description = "Traits for generic linear algebra."
documentation = "https://docs.rs/linalg-traits"
repository = "https://github.com/tamaskis/linalg_traits"
license = "MIT OR Apache-2.0"

exclude = ["Cargo.lock", ".github/", ".vscode/", ".gitignore"]

[features]
faer = ["dep:faer", "dep:faer-traits"]

[dependencies]
num-traits = "0.2.19"
faer = { version = "0.21.7", optional = true }
faer-traits = { version = "0.21.0", optional = true }
nalgebra = { version = "0.33.2", optional = true }
ndarray = { version = "0.16.1", optional = true }

[dev-dependencies]
numtest = "0.2.2"

[package.metadata.docs.rs]
rustdoc-args = [ "--html-in-header", "src/docs-header.html" ]
features = ["faer", "nalgebra", "ndarray"]